* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}
.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

}
.top img{

  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;

}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
  
}

.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid #dfd8d8;
  padding-top: 15px;
}
.center h3{
  font-size: 17px;
  font-weight: 500;
}
.center h2{
  font-size: 20px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color : #8b8b8b;
}
.center .tag{
  display: flex;
  gap: 5px;
}
.center .tag h4{
  font-size: 10px;
  background-color: #dadada;
  color: black;
  padding: 3px 6px;
  font-weight: 600;
  border-radius: 3px;
  margin: 10px 0;
}
.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}
.bottom h3{
  font-size: 17px;

}
.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}