* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;

}

html,
body {
  height: 100%;
  width: 100%;

}
body{
  background-color: #111;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
 

}
.card{
  width: 300px;
  border: 2px solid white;
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #222;

}


.card h2{
  margin: 20px 0px;
  color: rgb(89, 156, 93);
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.read-the-docs {
  color: #888;
}
.card button{
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}