.header{
    background-color: lightseagreen;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px 20px;
    margin: 5px;
}
.logo{
    text-decoration: underline;
}